# Binaries #
*.class
*.h2.db
*.lock

# Package Files #
*.jar
*.war
*.ear

# Logs #
*.log

# geoserver datadir common directories #
ZAMBIA_GEOSERVER_DATA_DIR/coverages/
ZAMBIA_GEOSERVER_DATA_DIR/data/
ZAMBIA_GEOSERVER_DATA_DIR/demo/
ZAMBIA_GEOSERVER_DATA_DIR/global.xml
ZAMBIA_GEOSERVER_DATA_DIR/gwc-gs.xml
ZAMBIA_GEOSERVER_DATA_DIR/gwc-layers/
ZAMBIA_GEOSERVER_DATA_DIR/gwc/
ZAMBIA_GEOSERVER_DATA_DIR/logging.xml
ZAMBIA_GEOSERVER_DATA_DIR/palettes/
ZAMBIA_GEOSERVER_DATA_DIR/plugIns/
ZAMBIA_GEOSERVER_DATA_DIR/security/
ZAMBIA_GEOSERVER_DATA_DIR/styles/
ZAMBIA_GEOSERVER_DATA_DIR/user_projections/
ZAMBIA_GEOSERVER_DATA_DIR/validation/
ZAMBIA_GEOSERVER_DATA_DIR/wcs.xml
ZAMBIA_GEOSERVER_DATA_DIR/wfs.xml
ZAMBIA_GEOSERVER_DATA_DIR/wms.xml
ZAMBIA_GEOSERVER_DATA_DIR/www/




